# Docker Upstart and SysVinit configuration file

# Customize location of Docker binary (especially for development testing).
#DOCKER="/usr/local/bin/docker"

# Use DOCKER_OPTS to modify the daemon startup options.
#DOCKER_OPTS="--dns 8.8.8.8 --dns 8.8.4.4"
{% if docker_bip is defined %}
DOCKER_OPTS='--bip="{{ docker_bip }}"'
{% endif %}

# If you need Docker to use an HTTP proxy, it can also be specified here.
{% if proxy_env.http_proxy is defined %}
export http_proxy="{{ proxy_env.http_proxy }}"
export https_proxy="{{ proxy_env.https_proxy }}"
{% else %}
#export http_proxy="http://127.0.0.1:3128/"
{% endif %}

# This is also a handy place to tweak where Docker's temporary files go.
#export TMPDIR="/mnt/bigdrive/docker-tmp"
