# Docker Upstart and SysVinit configuration file

#
# THIS FILE DOES NOT APPLY TO SYSTEMD
#
#   Please see the documentation for "systemd drop-ins":
#   https://docs.docker.com/engine/admin/systemd/
#

# Customize location of Docker binary (especially for development testing).
#DOCKERD="/usr/local/bin/dockerd"

# Use DOCKER_OPTS to modify the daemon startup options.
{% if docker_opts is defined %}
DOCKER_OPTS='{{ docker_opts }}'
{% endif %}

# If you need Docker to use an HTTP proxy, it can also be specified here.
{% if docker_proxy_args is defined %}
{{ docker_proxy_args }}
{% else %}
#export http_proxy="http://127.0.0.1:3128/"
{% endif %}

# This is also a handy place to tweak where Docker's temporary files go.
#export DOCKER_TMPDIR="/mnt/bigdrive/docker-tmp"
