[Unit]
After=network.target
{% for s in docker_systemd_afters | default([]) %}
After={{s}}
{% endfor %}

[Service]
{% if proxy_env is defined and proxy_env.http_proxy is defined %}
Environment=http_proxy={{ proxy_env.http_proxy }}
Environment=https_proxy={{ proxy_env.https_proxy }}
Environment=no_proxy={{ proxy_env.no_proxy }}
Environment=HTTP_PROXY={{ proxy_env.http_proxy }}
Environment=HTTPS_PROXY={{ proxy_env.https_proxy }}
Environment=NO_PROXY={{ proxy_env.no_proxy }}
{% endif %}
{% for e in docker_systemd_envs | default([]) %}
EnvironmentFile=-{{e}}
{% endfor %}
ExecStart=
ExecStart=/usr/bin/dockerd {{ docker_opts }}
